.add-todo {
  font-weight: bold;
	font-style: italic;
	display: block;
	margin: 5px 5px 5px 5px;
	font-size: 15px;
	padding: 5px 5px 5px 5px;
  border: 1px solid #000000;
}

.done {
  text-decoration: line-through;
  background-color: pink;
}

.todo {
  background-color: lightblue;
}

.activeTab {
  border: 1px solid #000000;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}